@import './_variables';
body,
html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: $black;
    background-color: $light-gray;
}

.hidden {
    display: none;
}

#user-form {
    margin: 0 auto;
    margin-top: 200px;
    height: 150px;
    width: 25%;
    border: 1px solid $black;
    background-color:$lime;
    &:hover {
        transition: box-shadow .25s;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    input {
        padding: 5px 25px;
        display: block;
        margin: auto;
        margin-top: 50px;
    }
    button {
        background-color: $black;
        color: $light-gray;
        padding: 5px;
        border:none;
        
        &:hover{
            color:white;
            background-color:black;
        }
    }
    #register {
        margin-left: 160px;
        margin-top: 10px;
    }
    #login {
        padding: 5px 10px;
    }
}

.container {
    background-color: $lime;
    width: 50%;
    height: 637px;
    margin: 0 auto;
    #loged-in {
        margin-top: 20px;
        display: inline-block;
        margin-left: 20px;
        text-decoration: underline;
    }
    h1 {
        margin-left: 200px;
    }
    h4 {
        margin-left: 40px;
    }
    #score {
        margin-left: 40px;
        span {
            font-size: 18px;
            font-weight: 400;
            margin: 10px;
        }
        #whole-word {
            margin-right: 0px;
        }
        #guess-count {
            margin-left: 0;
        }
    }
    .alphabet-wrapper {
        .letter-buttons {
            li {
                display: inline-block;
                background-color: white;
                text-transform: uppercase;
                border: 1px solid $black;
                padding: 15px;
                margin: 2px;
                cursor: pointer;
                &:hover {
                    background-color: $black;
                    color:white;
                }
            }
        }
        .guess-word {
            margin: 0 auto;
            font-size:25px;
            li {
                display: inline-block;
                text-transform: uppercase;
                margin-right: 5px;
            }
        }
        #lives,
        #desc,
        #clue {
            margin-left: 40px;
            ;
        }
    }
    .stickman {
        float: right;
        margin-right: 100px;
        position: relative;
        bottom: 130px;
        .head {
            display: block;
        }
        .rightArm {
            position: relative;
            right: 5px;
        }
        .leftLeg {
            position: relative;
            top: 60px;
            right: 80px;
        }
        .rightLeg {
            position: relative;
            top: 60px;
            right: 90px;
        }
    }
    .controller {
        margin-left: 40px;
        padding-bottom: 40px;
        button {
            padding: 5px 10px;
            border: none;
            background-color: $light-gray;
            color: $black;
            &:hover {
                background-color: white;
            }
        }
    }
}